$default: #3B4256;
$link-color: #a9bbbf;

%merriweather-700 {
    font-family: 'Merriweather-Bold', sans-serif;
    font-weight: 700;
}
%merriweather-400 {
    font-family: 'Merriweather-Regular', sans-serif;
    font-weight: 400;
}
%merriweather-300 {
    font-family: 'Merriweather-Light', sans-serif;
    font-weight: 300;
}
